.hidden {
  display: none;
}

body{
  margin: 0;
}

table{
  width: 600px ;
  height: 600px;
  border-collapse: collapse;
}

td{
  border: 3px solid black;
  position: relative;
  width: 31%;
  height: 31%;
  padding: 2%;
}

td:hover{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.422);
}

tr td:first-child{
  border-left: none;
}

tr td:last-child{
  border-right: none;
}

tr:first-child td{
  border-top: none;
}

tr:last-child td{
  border-bottom: none;
}


.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.shape{
  position: absolute;
  left: 20px;
  bottom: 20px;

  height: 80%;
  width: 80%;
}