.hidden {
  display: none;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table{
  width: 600px ;
  height: 600px;
  border-collapse: collapse;
}

td{
  border: 3px solid black;
  position: relative;
  width: 31%;
  height: 31%;
  padding: 2%;
}

td:hover{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.422);
}

tr td:first-child{
  border-left: none;
}

tr td:last-child{
  border-right: none;
}

tr:first-child td{
  border-top: none;
}

tr:last-child td{
  border-bottom: none;
}


.table-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.shape{
  position: absolute;
  left: 20px;
  bottom: 20px;

  height: 80%;
  width: 80%;
}

.player-turn-display{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
  font-size: 24px;
}

.player-cross{
  display: flex;
  align-items: center;
}

.player-circle{
  display: flex;
  align-items: center;
}

.oppacity-50{
  opacity: 0.5;
}

.horizontal-line{
  position: absolute;
  background-color: red;
  height: 10px;
  width: 0px;
  transition: width 350ms ease-in-out;
  z-index: 99;
}

.rotate-45{
  transform: rotate(45deg);
  width: 600px;
}

.rotate-minus-45{
  transform: rotate(-45deg);
  width: 600px;
}

.rotate-90{
  transform: rotate(90deg);
  width: 600px;
}

.rotate-0{
  width: 600px;
}

.win-display{
  background-color: rgb(101, 104, 103);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  border: 3px solid black;
  border-radius: 20px;
  width: 80%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  z-index: 100;
}

@media(max-width:450px){
  .win-display{
    font-size: 30px;
    top: 40%;
  }

  table{
    width: 300px;
    height: 300px;
  }

  .player-turn-display{
    font-size: 20px;
    white-space: nowrap;
  }

  .player-turn-display img{
    width: 70px;
  }

  .shape{
    left: 10px;
    top: 10px;
  }

  
.rotate-45{
  transform: rotate(45deg);
  width: 300px;
}

.rotate-minus-45{
  transform: rotate(-45deg);
  width: 300px;
}

.rotate-90{
  transform: rotate(90deg);
  width: 300px;
}

.rotate-0{
  width: 300px;
}
}